NEXT_PUBLIC_SUPABASE_URL=https://yourshere.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_xxx_yyy
SUPABASE_SECRET_KEY=sb_secret_xxx_yyy

PYTHON_SCHEDULER_URL=http://0.0.0.0:10000

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_...
CLERK_SECRET_KEY=sk_test_...

CLERK_WEBHOOK_SIGNING_SECRET=whsec_...